<!DOCTYPE html>
<html ng-app="memoryGameApp">
<head>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta charset="UTF-8">
    <title>Mäng</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js"></script>
    <script src="game.js"></script>
</head>
<body ng-controller="GameCtrl">
<div class="menu">
    <a href="index.html">Avaleht</a>
    <a href="todo.html">Todo</a>
    <a href="example.html">Näited</a>
    <a href="resources.html">Allikad</a>
    <a href="game.html">Mäng</a>
    <a href="feedback.html">Tagasiside</a>
</div>
<h1 style="width: 48%; text-align: center; float: right">Mäng</h1>

<div>Pairs left to match: {{game.unmatchedPairs}}</div>
<div>Matching: {{game.firstPick.title}}</div>

<table>
    <tr ng-repeat="row in game.grid">
        <td ng-repeat="tile in row" ng-click="game.flipTile(tile)">

            <!-- this entire block can be replaced with our custom component mgCard:
              <mg-card tile="tile"></mg-card>
            -->
            <div class="container">
                <div class="card" ng-class="{flipped: tile.flipped}">
                    <img class="front" ng-src="img/back.png">
                    <img class="back" ng-src="img/{{tile.title}}.png">
                </div>
            </div>

        </td>
    </tr>
</table>

<div class="message">{{game.message}}</div>

</body>
</html>