<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller='ctrl'>

<head>
    <style>
        .strikethrough {
            text-decoration: line-through;
        }

        .strikethrough-div .archive {
            display: inline !important;
        }
    </style>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta charset="UTF-8">
    <title>Todo</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js"></script>
    <script src='todo.js'></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="index.html">Avaleht</a>

<p>{{length}}</p>

<ul>
    <li ng-repeat="i in todos">
        <div ng-class="{'strikethrough-div': active}">
            <input type="checkbox" ng-click="active=!active; checked(i)" value="{{i.id}}" ng-model="i.selected">
            <span ng-class="{'strikethrough': active}">{{i.description}}</span>
            <button type="button" class="archive" style="display: none" ng-click="archive(i)">&times;</button>
        </div>
    </li>
</ul>

<form class="todo-input">
    <input type="text" placeholder="Lisa uus todo" ng-model="todo">
    <button type="submit" ng-click="update(todo)">Salvesta</button>
</form>

</body>
</html>