<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller='ctrl'>

<head>
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta charset="UTF-8">
    <title>Todo</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js"></script>
    <script src='todo.js'></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="index.html">Avaleht</a>

<p>{{length}}</p>

<ul>
    <li ng-repeat="i in todos">
        <input type="checkbox" ng-click="active=!active; checked(i)" value="{{i.id}}" ng-model="i.selected">
        <span ng-class="{'strikethrough': active}">{{i.description}}</span>
    </li>
</ul>

<form class="todo-input">
    <input type="text" placeholder="Lisa uus todo" ng-model="todo">
    <button type="submit" ng-click="update(todo)">Salvesta</button>
</form>

</body>
</html>